

/* .glider-container {
    height: 40vh;
    width: 80vw;
    background-color: transparent;
    padding: 20px 150px;
    border: 1px black solid;
} */

.glider-component {
    width: 100vw;
    padding: '10px 200px';
}

.glider {
    height: 40vh !important;
    width: 100%;
}

.container {
    height: 80%;
    width: 100%;
}

.slide {
    height: 300px !important;
    border: 1px black solid;
}

.glider-container{
    height: 300px;
    width: 100%;
    border: 1px bisque solid;
}


/* @media (max-width: 500px) and (min-width: 300px){
    .indicators-container{
        height: 60vh; /*TODO: Modificar aqui si hay mas de 4 indicadores...*/
    /* }
    .img-icon {
        height: 35%;
        width: 10%;
    }
} */ 