.podium-container {
    height: 60%;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}
.podium-description {
    height: 20%;
    width: 100%;
    border: 1px transparent solid;
    display: flex;
    text-align: center;
    align-items: center;
}
.podium-text-description {
    font-size: 0.8rem;
    text-align: justify;
}
.text-align-center {
    justify-content: center;
}
.podium-body {
    height: 70%;
    width: 100%;
    border: 1px transparent solid;
}
.podium-footer {
    margin-top: 18px;
    height: 13%;
    width: 100%;
    border: 1px transparent solid;
    display: flex;
    justify-content: center;
}
.podium-body-container {
    height: 78%;
    width: 100%;
    background-color: transparent;
    padding: 0 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.podium-bar-container {
    width: 20%;
    height: 100%;
    /* border: 1px beige solid; */
}
.bar {
    height: 70%;
    width: 100%;
}
.bar-description {
    margin-top: 4px;
    padding-right: 15px;
    height: 55%;
    width: 85px;
    text-align: center;
    font-weight: 350;
    font-size: 0.95rem;
    display: flex;
    flex-direction: column;
}

.bar-description-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
}
.bar-description-container {
    height: 50%; 
    width: 100%;
    border: 1px black solid;
}
.rank-podium-number {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 1.7rem;
    color: #fff;
    font-weight: bolder;
}

.button {
    color: #fff !important;
    background-color: rgb(176, 176, 176);
    border-color: rgb(176, 176, 176);
}

.button:hover {
    background-color: rgb(82, 82, 82) !important;
    border-color: rgb(82, 82, 82);
}

.text-bold {
    color: #3e3e3e;
    font-weight: 800;
    font-size: 25px;
}

@media (max-width: 500px) and (min-width: 300px){
    .rank-podium-number {
        font-size: 1.7rem;
    }
}

@media (max-width: 800px) and (min-width: 500px){
    .podium-text-description{
        font-size: 0.9rem;
    } 
    .rank-podium-number {
        font-size: 2.3rem;
    }
}

@media (max-width: 1000px) and (min-width: 800px){
    .podium-text-description{
        text-align: center;
        font-size: 1rem;
    }
    .rank-podium-number {
        font-size: 2.3rem;
    }
}

@media (min-width: 1000px){ 
    .podium-text-description{
        text-align: center;
        font-size: 1rem;
    }
    .rank-podium-number {
        font-size: 2.3rem;
    }
}