.podium-container {
    height: 60%;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}
.podium-description {
    height: 30%;
    width: 94%;
    border: 1px transparent solid;
    display: flex;
    text-align: center;
    align-items: center;
}
.podium-text-description {
    font-size: 0.8rem;
    text-align: justify;
}
.text-align-center {
    justify-content: center;
}
.podium-body {
    height: 70%;
    width: 120%;
    border: 1px transparent solid;
}
.podium-footer {
    margin-top: 18px;
    height: 13%;
    width: 100%;
    border: 1px transparent solid;
    display: flex;
    justify-content: center;
}
.podium-body-container {
    height: 100%;
    width: 100%;
    background-color: transparent;
    padding: 0 10%;
    display: flex;
    flex-direction: row;
}
.podium-bar-container {
    max-width: 90px;
    width: 20%;
    height: 100%;
    /* border: 1px beige solid; */
}
.bar {
    height: 70%;
    width: 100%;
}
.bar-description {
    margin-top: 4px;
    padding-right: 15px;
    height: 30%;
    width: 100%;
    text-align: center;
    font-weight: 350;
    font-size: 0.95rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar-description-content {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    font-size: 0.8rem;
    /* width: 50% !important;
    height: 40% !important; */
    overflow-wrap: break-word;
    width: 100% !important;
    justify-content: center;
    height: 40% !important;
}
.bar-description-container {
    height: 50%; 
    width: 100%;
    border: 1px black solid;
}
.rank-podium-number {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 1.7rem;
    color: #fff;
    font-weight: bolder;
}

.button {
    color: #fff !important;
    background-color: rgb(176, 176, 176);
    border-color: rgb(176, 176, 176);
}

.button:hover {
    background-color: rgb(82, 82, 82) !important;
    border-color: rgb(82, 82, 82);
}

.year-text-bold {
    color: #3e3e3e;
    font-weight: 800;
    font-size: 20px;
}

.text-bold {
    color: #3e3e3e;
    font-weight: 800;
    font-size: 25px;
}
.tooltip {
    position: relative;
    display: inline-block;
  }
.tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    height: 30px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

@media (max-width: 400px) and (min-width: 300px){
    .podium-description {
        width: 85%;
    }
    .podium-text-description {
        font-size: 0.8rem;
    }
    .podium-body {
        width: 93%;
    }
    .podium-body-container {
        justify-content: center;
    }
    .bar-description-content {
        font-size: 0.8rem;
    }
}

@media (max-width: 500px) and (min-width: 400px){
    .podium-description {
        width: 95%;
    }
    .podium-text-description {
        font-size: 0.9rem;
    }
    .rank-podium-number {
        font-size: 1.7rem;
    }
    .podium-body {
        width: 100%;
    }
    .podium-body-container {
        justify-content: center;
    }
    .bar-description-content {
        font-size: 0.8rem;
    }
}

@media (max-width: 800px) and (min-width: 500px){
    .podium-description {
        width: 98%;
    }
    .podium-text-description {
        font-size: 1rem;
    }
    .rank-podium-number {
        font-size: 2.3rem;
    }
    .podium-body {
        width: 100%;
    }
    .podium-body-container {
        justify-content: center;
    }
    .bar-description-content {
        font-size: 0.8rem;
    }
}

@media (max-width: 1000px) and (min-width: 800px){
    .podium-description {
        width: 100%;
        justify-content: center;
    }
    .podium-text-description{
        text-align: center;
        font-size: 1rem;
    }
    .rank-podium-number {
        font-size: 2.3rem;
    }
    .podium-body {
        width: 100%;
    }
    .podium-body-container {
        justify-content: center;
    }
    .bar-description-content {
        font-size: 1rem;
    }
}

@media (min-width: 1000px){ 
    .podium-description {
        width: 100%;
        justify-content: center;
    }
    .podium-text-description{
        text-align: center;
        font-size: 1rem;
    }
    .rank-podium-number {
        font-size: 2.3rem;
    }
    .podium-body {
        width: 100%;
    }

    .podium-body-container {
        justify-content: center;
    }
    .bar-description-content {
        font-size: 1rem;
        height: 50% !important;
    }
}
