

/* .glider-container {
    height: 40vh;
    width: 80vw;
    background-color: transparent;
    padding: 20px 150px;
    border: 1px black solid;
} */

.glider-component {
    width: 100vw;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 40px;
    height: 35vh;
}

.glider-container{
    height: 35vh;
    width: 100%;
    border: none;
    /* border: 1px bisque solid; */
}

.slide {
    height: 120px !important;
    border: none;
    margin: 0px 3px;
    /* border: 1px black solid; */
}

@media (min-width: 800px){
    .glider-component { 
        height: 33vh;
        width: 90vw;
        padding-left: calc(100vw - 90vw);
    }

    .slide {
        height: 30vh !important;
        /* border: 1px black solid; */
        
    }
}


.glider {
    height: 40vh !important;
    width: 100%;
}

.container {
    height: 80%;
    width: 100%;
}






/* @media (max-width: 500px) and (min-width: 300px){
    .indicators-container{
        height: 60vh; /*TODO: Modificar aqui si hay mas de 4 indicadores...*/
    /* }
    .img-icon {
        height: 35%;
        width: 10%;
    }
} */ 