.multichart-container{
    display: flex;
    flex-direction: column;
}

.multichart-title{
    display: flex;
    justify-content: center;
}

.multichart-body{
    display: flex;
    justify-content: center;
}

.multichart-footer{
    display: flex;
    justify-content: center;
}

.button {
    color: #fff !important;
    margin: 10px;
    padding: 10px;
    background-color: rgb(176, 176, 176);
    border-color: rgb(176, 176, 176);
}

.button:hover {
    background-color: rgb(82, 82, 82) !important;
    border-color: rgb(82, 82, 82);
}
