
.sidebar {
    height: 20vh; 
    border: 1px transparent;
}

.content-data {
    height: 70vh;
    border: 1px transparent;
}

.no-padding {
    padding: 0 !important;
}
.no-margin{
    margin: 0 !important;
}

@media (min-width: 992px) {
    .sidebar {
        height: 87vh;
    }
    .content-data {
        height: 87vh;
    }
}

.search-country-button {
    color: white;
    background-color: rgb(168, 47, 49);
    font-weight: 800;
    border-color: rgb(80, 0, 0) !important;
    font-size: 13px;
    cursor: pointer;
    outline: none;
}

.search-country-button:hover {
    background-color: rgb(111, 31, 33) !important;
}