
.spacingNavbarOptions {
    /* margin: 0px 4vw; */
    flex-basis: 78vw;
}

.spaceNavbarContainer {
    padding: 0px 40px;
}

.nav-styles {
    padding: 0px !important;
}

.dropdown {
    display: flex;
    /* align-items: center; */
}
.dropbtn {
    padding: 0;
    /* border:'none' !important;
    background: 'none' !important; */
    display: flex;
    align-items: center;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


@media (max-width: 1000px){
    .spacingNavbarOptions {
        flex-basis: 0vw;
    }   
    .spaceNavbarContainer {
        padding: 0px 10px;
    }
}

@media (min-width: 1000px) {
    .nav-styles {
        padding: 5px 50px !important;
    }
}