
/* extra components: ( videos, sign up o caoursel ) */

.home {
    height: 400vh; /* TODO: Para el alto del contenido main */ /* 400 vh without extra components  */
    /* border: 1px black solid; */
}

.data {
    height: 130vh;
}

.about-us {
    height: 180vh;
}

@media (max-width: 500px) and (min-width: 300px){
    .home {
        height: 380vh;   /* TODO: Para el alto del contenido main */ /* 380 vh without extra components 480 */
    }
    .data {
        height: 70vh;
    } 
}

@media (max-width: 800px) and (min-width: 500px){
    .home {
        height: 410vh; /* TODO: Para el alto del contenido main */ /* 410 vh without extra components  */
    }
       
}

@media (max-width: 1000px) and (min-width: 800px){
    .home {
        height: 310vh; /* TODO: Para el alto del contenido main */ /* 310 vh without extra components  */
    }
    
}

@media (min-width: 1000px){ 
    .home {
        height: 290vh; /* TODO: Para el alto del contenido main */ /* 290 vh without extra components  */
    }
}



/* for react bootstrap grid system */
/* @media (max-width: 575px){
    .about-us {
        height: 100vh;
    }
} */

@media (min-width: 576px) and (max-width: 767px){
    .about-us {
        height: 100vh;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .about-us {
        height: 60vh;
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    .about-us {
        height: 70vh;
    }
}

@media (min-width: 1200px) {
    .about-us {
        height: 60vh;
    }
}