.porcentages-container{
    display: flex;
    flex-direction: row;
}

.porcentage-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: -webkit-fill-available;
    margin-top: 5px;
    margin-bottom: 5px;
}

.porcentage-value{

}

.porcentage-text{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}