

.news-container {
    height: 40vh;
    width: 100vw;
    background-color: aquamarine;
    padding: 0px 100px;
}

.container {
    height: 80%;
    width: 100%;
}

.glider-contain {
    height: 100%;
    width: 100%;
}

.glider-contain {
    height: 40vh;
    width: 100%;
}

.slide {
    height: 100%;
}